.BasePage {
  &-Layout {
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-Content {
    flex-grow: 1;
  }

  &-Footer {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}