@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@font/nunito";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.BasePage-Header {
  height: 117px;
  background: #f8f8f8;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.phone-notch {
  height: 47px;
}

.header-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  margin-left: 8px;
  margin-top: 8px;
}

.content {
  margin-top: 117px;
  margin-bottom: 122px;
}

footer {
  height: 122px;
  background: #f8f8f8;
}

.nav-icons {
  padding: 8px;
}

.settings-item {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin: 8px 10px;
}

.spacer {
  width: 100%;
  height: 122px;
}

.img-preview {
  width: 140px;
  height: 140px;
}

.img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
