@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/nunito";

body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.BasePage-Header {
  height: 117px;
  background: #f8f8f8;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.phone-notch {
  height: 47px;
}

.header-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  margin-left: 8px;
  margin-top: 8px;
}

.content {
  margin-top: 117px;
  margin-bottom: 122px;
}

footer {
  height: 122px;
  background: #f8f8f8;
}

.nav-icons {
  padding: 8px;
}

.settings-item {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin: 8px 10px;
}

.spacer {
  width: 100%;
  height: 122px;
}

.img-preview {
  width: 140px;
  height: 140px;
}

.img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nft-full-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 117px;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 999;
  --tw-bg-opacity: 1;
  --tw-bg-opacity: 0.9;
  background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: .15s;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  overflow-y: hidden;
  overscroll-behavior: contain;
}

.my-modal-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.my-modal-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  overflow-y: scroll;
}

.my-modal-inner h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}

.my-modal-inner p {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}

.noscroll {
  overflow: hidden;
}

.btn-hollow {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #fff;
  font-weight: 700;
}

.btn-voting-hollow {
  padding: 10px 18px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #fff;
  font-weight: 700;
}

.btn-voting-text {
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  position: relative;
}

.btn-voting-text-inside {
  position: absolute;
  top: 0;
  left: -30px;
}

.btn-buy {
  width: 100%;
  padding: 10px 0;
  background: #00D1FF;
  border: 2px solid #00D1FF;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
}

.btn-voting-active {
  width: 100%;
  padding: 6px 0;
  background: #00D1FF;
  border: 2px solid #00D1FF;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
}

.currency-select {
  color: #fff;
  box-sizing: border-box;
  border-radius: 9px;
  border: 2px solid #fff;
  background: rgba(150, 150, 150, 0);
  padding: 5px;
  float: right;
  font-size: 14px;
}

.currency-select option {
  background: rgba(150, 150, 150, 0);
}

.pricing-table {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.price-bold {
  font-weight: 700;
}

.nav-icon {
  width: 40px;
  height: 40px;
}

.active-page-line {
  width: 40px;
  height: 2px;
  border-radius: 30px;
  background: #C4C4C4;
  margin-top: 6px;
}

.page-inactive {
  display: none;
}

.login-spacer {
  height: 117px;
  width: 100%;
}

.login-page {
  background-color: #01d1ff;
  color: #fff
}

.login-page h1 {
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}

.login-page input {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.login-page .label-text {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}

.btn-submit {
  height: 57px;
  border-radius: 10px;
  background-color: #fff;
  color: #01d1ff;
  width: 100%;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.btn-login-cancel {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.white-line {
  height: 2px;
  background: #fff;
  width: 100%;
}

.btn-arrow-back {
  border-radius: 10px;
  background: #01d1ff;
  height: 42px;
  width: 62px;
  margin-top: 2px !important;
}

.recover-page h1 {
  font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 700;
}

.info-grey {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #C4C4C4;
}

.start-button {
  background: #00D1FF;
  border-radius: 10px;
  height: 57px;
  font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #fff;
padding: 0 20px;
}

.confirm-text p {
  color: #FF0000;
  font-weight: bold;
font-size: 16px;
}

.confirm-text p button {
  color: #00D1FF;
  font-weight: bold;
  font-size: 16px;
}

.grey-line {
  height: 2px;
  width: 100%;
  background: #C4C4C4;
}

.payment-spacer {
  height: 117px;
  width: 100%;
}

.payment-page {
  background-color: #fff;
  color: #000
}

.payment-page h1 {
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.payment-page input {
  background: rgba(196, 196, 196, 0.2);
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
}

.cvv-input {
  width: 73px;
}

.exp-input {
  width: 113px;
}

.payment-page .label-text {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #C4C4C4;
}


.guardian-name {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #C4C4C4;
}

.guardian-status-approved {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #00FF19;
}

.guardian-status-pending {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #FBBC05;
}

.guardian-danger {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #FF0000;
}

.payment-page .fast-tx-label-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
}

.btn-payment-submit {
  height: 57px;
  border-radius: 10px;
  background-color: #01d1ff;
  color: #fff;
  width: 100%;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.btn-payment-cancel {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}