@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/nunito";

body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.BasePage-Header {
  height: 117px;
  background: #f8f8f8;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.phone-notch {
  height: 47px;
}

.header-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  margin-left: 8px;
  margin-top: 8px;
}

.content {
  margin-top: 117px;
  margin-bottom: 122px;
}

footer {
  height: 122px;
  background: #f8f8f8;
}

.nav-icons {
  padding: 8px;
}

.settings-item {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin: 8px 10px;
}

.spacer {
  width: 100%;
  height: 122px;
}

.img-preview {
  width: 140px;
  height: 140px;
}

.img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nft-full-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 117px;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 999;
  --tw-bg-opacity: 1;
  --tw-bg-opacity: 0.9;
  background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: .15s;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  overflow-y: hidden;
  overscroll-behavior: contain;
}

.my-modal-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.my-modal-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  overflow-y: scroll;
}

.my-modal-inner h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
}

.my-modal-inner p {
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}

.noscroll {
  overflow: hidden;
}

.btn-hollow {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #fff;
  font-weight: 700;
}

.btn-buy {
  width: 100%;
  padding: 10px 0;
  background: #00D1FF;
  border: 2px solid #00D1FF;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
}

.currency-select {
  color: #fff;
  box-sizing: border-box;
  border-radius: 9px;
  border: 2px solid #fff;
  background: rgba(150, 150, 150, 0);
  padding: 5px;
  float: right;
  font-size: 14px;
}
.currency-select option {
  background: rgba(150, 150, 150, 0);
}

.pricing-table {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.price-bold {
  font-weight: 700;
}